<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@ViewBag.Title</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">My Recipes</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/Recipes/Overview">Overview</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Info/AboutUs">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Info/ContactUs">Contact Us</a>
                    </li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="/Recipes/ManageOverview">Manage Recipes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">@User.FindFirst("Username").Value</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="/Auth/SignIn">Sign In</a>
                        </li>
                    }

                </ul>
            </div>
        </nav>
    </div>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>