@{
    ViewBag.Title = "About Us";
}


<h1> About Us: </h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tempus iaculis urna id volutpat lacus laoreet. Pellentesque diam volutpat commodo sed egestas egestas fringilla phasellus. Tincidunt dui ut ornare lectus sit amet est placerat. Velit laoreet id donec ultrices tincidunt arcu non. Aliquam malesuada bibendum arcu vitae elementum curabitur vitae nunc. Lectus proin nibh nisl condimentum id. Id aliquet risus feugiat in. Morbi blandit cursus risus at ultrices. Mauris pharetra et ultrices neque ornare aenean euismod elementum nisi. Tincidunt vitae semper quis lectus nulla at volutpat diam ut. In mollis nunc sed id semper risus. Ipsum faucibus vitae aliquet nec. Cras adipiscing enim eu turpis egestas pretium aenean. Et pharetra pharetra massa massa ultricies mi.</p>
