@model List<MyRecipes.Models.Recipe>

@{
    ViewBag.Title = "Manage recipes";
}

@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.ErrorMessage
    </div>
}

@if (ViewBag.SuccessMessage != null)
{
    <div class="alert alert-success" role="alert">
        @ViewBag.SuccessMessage
    </div>
}


<p>
    <a href="/Recipes/Create" class="btn btn-success">Create</a>
</p>

@if (Model.Count() == 0)
{
    <p>No recipes</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            `
            @foreach (var recipe in Model)
            {
                <tr>
                    <td>@recipe.Id</td>
                    <td>@recipe.Title</td>
                    <td class="text-center">
                        <a href="" class="text-primary">Modify</a> |
                        <a href="/Recipes/Delete/@recipe.Id" class="text-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
