@model List<MyRecipes.ViewModels.RecipeOverviewModel>

@{
    ViewBag.Title = "Overview";
}

<form action="/Recipes/Overview" method="get" style="width:500px" class="form-inline">
    <div class="form-group">
        <input type="text" name="Title" value="" class="form-control" placeholder="Search by title" />
        <input type="submit" value="Search" class="btn btn-primary" />
    </div>
</form>


<div class="row">
    @foreach (var recipe in Model)
    {
        <div class="col-md-3">
            <div class="card">
                <img src="@recipe.ImageUrl" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@recipe.Title</h5>
                    <p class="card-text">@recipe.Description</p>
                    <a asp-controller="Recipes" asp-action="Details" asp-route-id="@recipe.Id" class="btn btn-primary">See more...</a>
                </div>
            </div>
        </div>
    }
</div>
